<header class="container d-flex justify-content-center mt-1">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin"><img id="logo" src="/public/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-center border border-dark border-3">
                    <li class="nav-item">
                        <a class="nav-link disabled">Utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/pizza" class="nav-link ">Pizzas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Desserts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Boissons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Livreurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Ingrédients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Statistiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Promotions</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
